<h4>Formularios <small> reactive </small></h4>
<hr>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="create()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <input formControlName="name" [class.is-invalid]="nameInvalid" class="form-control" type="text"
          placeholder="Nombre">
        <small *ngIf="nameInvalid" class="form-text text-danger">Ingrese al menos 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">
        <input formControlName="lastName" [class.is-invalid]="lastNameInvalid" class="form-control" type="text"
          placeholder="Apellido">
        <small *ngIf="lastNameInvalid" class="form-text text-danger">Ingrese al menos 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">
      <input formControlName="email" [class.is-invalid]="emailInvalid" class="form-control" type="email"
        placeholder="Correo electrónico">
      <small *ngIf="emailInvalid" class="form-text text-danger">Email incorrecto</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">
      <input formControlName="user" [class.is-invalid]="userInvalid" class="form-control" type="text"
        placeholder="Usuario">
      <small *ngIf="userInvalid" class="form-text text-danger">Nombre de usuario ya fue tomado</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input formControlName="password" [class.is-invalid]="passwordInvalid" class="form-control" type="password"
        placeholder="Contraseña">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña 2</label>
    <div class="col">
      <input formControlName="password2" [class.is-invalid]="password2Invalid" class="form-control" type="password"
        placeholder="Repita contraseña">
    </div>
  </div>

  <div class="form-group row" formGroupName="address">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col">
        <input formControlName="country" [class.is-invalid]="countryInvalid" type="text" class="form-control"
          placeholder="Departamento">
        <small *ngIf="countryInvalid" class="form-text text-danger">Ingrese al menos 5 letras</small>
      </div>

      <div class="col">
        <input formControlName="city" [class.is-invalid]="cityInvalid" type="text" class="form-control"
          placeholder="Ciudad">
        <small *ngIf="cityInvalid" class="form-text text-danger">Ingrese al menos 5 letras</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="hobbies">
          <tr *ngFor="let control of hobbies.controls; let i = index">
            <td>{{i + 1}}</td>
            <td>
              <input type="text" class="form-control" [formControlName]="i">
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteHobby(i)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button (click)="addHobbie()" class="btn btn-primary mt-3 mb-5 btn-block" type="button">Agregar</button>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado formulario {{form.valid}}
  <br>
  Estado {{form.status}}
</pre>
<pre>
  {{form.value | json}}
</pre>